@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";


@theme {
  --font-display: 'ArponaSans', 'Inter', sans-serif;
  --font-sans: 'Darkmode Off', 'Inter', sans-serif;
}

.dark {
  --font-sans: 'Darkmode On', 'Inter', sans-serif;
}
